{%extends "main/base.html"%}


{%block header%}
{% include "main/header.html" %}
{%endblock%}

{% block banner%}{%endblock%}
{% block main-content%}
      <div >
         {% if request.user.is_authenticated %}
      <form method='POST' action='/acc/addProduct/'>
         {%csrf_token%}
         <button style="display: inline;"float:left;>ADD PRODUCT</button>
      </form>
      <form method='POST' action='/acc/adminregister/'>
         {%csrf_token%}
         <button style="display: inline;">REGISTER</button>
      </form>
      <form method='POST' action='/acc/viewMyProduct/'>
         {%csrf_token%} 
         <input hidden name="value" value="admin"></input>
         <button style="display: inline;">VIEW MY PRODUCTS</button>
      </form><br>
      {%endif%}
   </div>
{% endblock%}
{%block footer%}{% endblock%}
{%block contact%}{% endblock%}
{% block customer%}{% endblock%}
{% block about%}{% endblock%}
{%block last%}{% endblock%}
{%block copyright%}{% endblock%}